<div>
  <button [routerLink]="['/company/agregar-company']">Agregar</button>
</div>
<hr />
<p *ngFor="let company of companies">
  <li>{{ company.id }}</li>
  <li>{{ company.name }}</li>
  <li>{{ company.description }}</li>
  <li>{{ company.phone }}</li>
  <li>{{ company.created_at | date : "short" }}</li>
  <li>{{ company.updated_at | date : "short" }}</li>
  <span>
    <button [routerLink]="['/company/edit-company', company.id]">Editar</button>
    <button (click)="deleteCompany(company.id!)">Eliminar</button>
  </span>
</p>
